.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f97acf81;
    border-radius: 2em;
    padding: 0.6em;
    border-color: wheat;

}
.text{
    color: black;
    background-color: rgb(185, 126, 240);
    border-radius: 0.2em;
    text-align: center;

}